<% content_for :title do %>Weather Outlook Dashboard<% end %>
<div class="gridster">
  <ul>

	<li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="weatheroutlook" data-view="Weatheroutlook"></div>
    </li>
 
  </ul>

</div>